*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
 background-color: blueviolet;
 height: 50%;
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-wrap: noWrap;
}
ul{
    list-style: none;
    height: 70%;
    width: 70%;
    margin-left: 50%;
    
}
li{
    font-size: xx-large;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
