*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
 background-color: white;
 height: 50%;
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-wrap: noWrap;
 box-sizing: border-box;
   box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1),   /* sombra próxima */
    0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
}
a{
    text-decoration: none;
    color: black;
}
.insc{
    background-color: #009639;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    text-align: center;
     border-radius: 9px;
}
.texto{
    margin-top: 15%;
   
}
.cad{
    margin-top: 50px;
    height: 40px;
    width: 130px;
    font-size: large;
    border-radius: 3px;
    border-color: aliceblue;
    
}