*{
    margin: 0px;
    padding: 0px;
}
.log{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white ;
}
.pp{
    background-color: #009639;
    height: 70%;
    width: 40%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr auto 1fr/1fr 1fr 1fr 1fr;
    align-items: center;
    border-radius: 7px;
    gap: 20px;
}
.nome{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
}
.email{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}
.senha{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
}
.pp input{
    height: 60%;
    border-radius: 23px;
    padding-left: 10px;
}
.boto{
    grid-column-start: 2;
    grid-column-end: 4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-row-start: 6;
    margin-bottom: 50px;
}

