.boto{
    grid-column-start: 2;
    grid-column-end: 4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-row-start: 6;
    margin-bottom: 50px;
}
.bott{
    height: 40px;
    width: 120px;
}
