*{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}
.imports{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}
.search{
    height: 30px;
    width: 30%;
}
.logo{
    margin-left: 100px;
}